<div class="container">
    <h1>Waiters available for work</h1>
    <table>
        <tr>
            <th>Days</th>
            <th>Name of waiter</th>
        </tr>
        {{#each scheduled}}
        <tr>
            <td>{{this.daysofweek}}</td>
            <td>{{this.waiters_name}}</td>
        </tr>
        {{/each}}
    </table>
    <form action="/reset" method="post">
        <button type="submit">Reset data</button>
    </form>
</div>