<div class="container">
    <h1>Waiters available for work</h1>
    <table>
        <tr>
            <th>Days</th>
        </tr>
        <tr>
            <td>Name of waiter</td>
        </tr>
    </table>
    <form action="/days" method="post">
        <button type="submit">Reset data</button>
    </form>
</div>