<div class="container">
    <h1>Waiters available for work</h1>
    <div>
        {{!-- <tr>
            <th>Days</th>
            <th>Name of waiter</th>
        </tr> --}}
        <div class="days">
            {{#each days}}
                <p>{{this}}</p>
            {{/each}}
       </div>
        {{!-- <div class="days">
            {{#each days}}
                <td>{{this}}</td>
            
        </div> --}}
        {{#each scheduled}}
        <div class="waiters">
                    <p>{{this.waiters_name}}</p>
        </div>
        {{/each}}
    </div>
    <span class="adminErrors">
        {{messages.error1}}
    </span>
    <form action="/reset" method="post">
        <button type="submit">Reset data</button>
    </form>
</div>