<div class="container">
    <h1>Coffee Shop</h1>
    <p>Hi! best wishes for the week</p>
    <h3>Waiters Shift</h3>
    <span class="error">
            {{messages.error}}
    </span>
    <form action="/" method="post">
        <div class="waiters">
            <label>Name : </label><input type="text" class="uName" name="uName" value={{name}}><br>
            <span class="errors">
                {{messages.error1}}
            </span>
            <div class="daysOf">
                <input type="checkbox" name="daysOfWeek" value="Monday" class="dayz">
                <label for="">Monday</label><br>
                <input type="checkbox" name="daysOfWeek" value="Tuesday" class="dayz">
                <label for="">Tuesday</label><br>
                <input type="checkbox" name="daysOfWeek" value="Wednesday" class="dayz">
                <label for="">Wednesday</label><br>
                <input type="checkbox" name="daysOfWeek" value="Thursday" class="dayz">
                <label for="">Thursday</label><br>
                <input type="checkbox" name="daysOfWeek" value="Friday" class="dayz">
                <label for="">Friday</label><br>
                <input type="checkbox" name="daysOfWeek" value="Saturday" class="dayz">
                <label for="">Saturday</label><br>
                <input type="checkbox" name="daysOfWeek" value="Sunday" class="dayz">
                <label for="">Sunday</label><br>
            </div>
            <br>
            <span class="success">
                {{messages.success}}
            </span>
            
            <br>
            <button type="submit">Schedule</button>
        </div>
    </form>
</div>