 /* *{
    outline:1px solid pink ;
}  */
.container{
    text-align: center;   
    margin: auto;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 4em;
    margin-bottom: 0.5em;
    background-color: #a9927d;
    border-radius: 12px;
}
 /* header{
    display: inline;
    height: 60px;   
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }   */

h1{
    padding-top: 0.4em;
}

h1,h3{
    color: #37423d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
h2,h4{
    color: #37423d
}
body{
    background-image: url("/coffee.PNG");
    background-size:cover;
    font-family:Cochin;
    font-size: x-large;
    color: #171614;
    
}

button{
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding: 0.7em;
    background-color: #3a2618;
    color: #9a8873;
    border-radius: 12px;
    font-size:medium;
}

input {
    padding: 0.6em;
    border-radius: 15px;
}

input[type='checkbox'],input[type='checkbox'] {
    width: 20px;
    height:20px;
    background:white;
    border-radius: 15px;
    border:2px solid #754043;
}
input[type='checkbox']:checked {
    background: #abd;
}

.days{
    display: inline-flex;
    width: 95%;
    
}
.daysOf{
    margin-top: 0.8em;
    display: inline-flex;
}
.dayz{
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }
  .success{
    margin-bottom: 1em;
    font-size: large;
    color:#004600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .adminSucess,.adminSucess2{
    margin-bottom: 1em;
    font-size: large;
    color:rgb(81, 129, 33);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .error,.errors,.adminError,.adminError2{
        font-size: large;
        color:crimson;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .adminErrors{
        font-size: large;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #1F456E
    }
    form{
        padding-top: 1em;
    }
    .adminForm{
        padding-top: 0.1em 
    }

    li{
        padding: 0.2em;
        list-style: none;
    }
    select {
        outline: 0;
        width: 17%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
    }
    .admin{
        display: flex;
        margin-bottom: 0.5em;
        
    }
    .reschedule{
        width: 63%;
        margin-right: 1em;
        margin-bottom: 1.5em;
        background-color: #d9d9d9;
        border-radius: 20px;
        padding-right: 0.2em;
    }
    .remove{
        width: 40%;
        margin-bottom: 1.5em;
        background-color: #3C6E71;
        border-radius: 20px;
    }
    .grey{
        background-color: lightslategrey;
    }
    .red{
        background-color: #904353;
    }
    .green{
        /* background-color: #004600; */
        background: #575404;
    }
    .normal{
        background-color: #a9927d;
    }

