/* *{
    outline:1px solid pink ;
} */
.container{
    text-align: center;   
    margin: auto;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
    background-color: #9a8873;
    border-radius: 12px;
}

h1{
    padding-top: 0.4em;
}

h1,h3{
    color: #37423d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

body{
    background-image: url("/coffee.PNG");
    background-size:cover;
    font-family:Cochin;
    font-size: x-large;
    color: #171614;
    
}

button{
    margin-bottom: 2em;
    padding: 0.7em;
    background-color: #3a2618;
    color: #9a8873;
    border-radius: 12px;
    font-size:medium;
}

input {
    padding: 0.6em;
    border-radius: 15px;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
    background:white;
    border-radius: 15px;
    border:2px solid #754043;
}
input[type='checkbox']:checked {
    background: #abd;
}

.days{
    padding: 0.7em;
    display: inline-flex;
}
.dayz{
    padding: 1em;
    min-width: 0.75em;
    min-height: 0.75em;
    margin-right: 0.75em;
    border: 2px solid currentColor;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5em;
  }
  
  tr {
    border-bottom: 1px solid #ddd;
  }
  .success{
    margin-bottom: 1em;
    font-size: large;
    color:green;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }